<a href="https://colab.research.google.com/github/manasik29/EDA-Feature-Engineering/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1)
 
6 columns : date, customerid, product_quantity, sales, region, transaction_id. Which customer id bought maximum products? Tablename is questions.
(hint : get sales by multiplying product_quantity and price_per_item fields) 

Question 2)

Get sales during Christmas period (21 dec 2020 - 27 dec 2020) by region.

Question 3)

Get count of transactions by region where customers had greater than 10000 sales and less than 10000 sales. (hint: create 2 columns for getting count of transaction ids - one where customers had greater than 10000  sales and another where customers had less than 10000 sales)

In [2]:
import pandas as pd
df = pd.read_excel('/content/questions.xlsx')
df.head()

,date,customerid,product_quantity,price_per_item,region,transaction_id
0,2021-10-09,CC1,3,33,E,1
1,2021-10-09,CC1,4,22,A,2
2,2020-12-26,CC1,2,111,F,3
3,2020-12-27,CC2,1,22,G,4
4,2020-12-28,CC2,4,11000,G,5

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              9 non-null      datetime64[ns]
 1   customerid        9 non-null      object
 2   product_quantity  9 non-null      int64
 3   price_per_item    9 non-null      int64
 4   region            9 non-null      object
 5   transaction_id    9 non-null      int64
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 560.0+ bytes

In [7]:
#create a new feature Sale by multiplying product_quantity and price_per_item
Sale = df['product_quantity']*df['price_per_item']
Sale

0       99
1       88
2      222
3       22
4    44000
5       66
6       22
7    33000
8      132
dtype: int64

In [8]:
#add Sale column to our df
df.insert(4, 'Sale', Sale)
df

,date,customerid,product_quantity,price_per_item,Sale,region,transaction_id
0,2021-10-09,CC1,3,33,99,E,1
1,2021-10-09,CC1,4,22,88,A,2
2,2020-12-26,CC1,2,111,222,F,3
3,2020-12-27,CC2,1,22,22,G,4
4,2020-12-28,CC2,4,11000,44000,G,5
5,2020-12-29,CC3,2,33,66,S,6
6,2020-12-30,CC3,1,22,22,S,7
7,2021-10-09,CC4,3,11000,33000,E,8
8,2021-10-10,CC4,4,33,132,R,9

Question 1)

Which customer id bought maximum products?

In [37]:
print('Different customer ids in our data:', df.customerid.unique())

Different customer ids in our data: ['CC1' 'CC2' 'CC3' 'CC4']

In [96]:
print('Products bought by CC1=', df[df.customerid == "CC1"].product_quantity.sum(),'\n','Products bought by CC2=', df[df.customerid == "CC2"].product_quantity.sum(), 
      '\n', 'Products bought by CC3=', df[df.customerid == "CC3"].product_quantity.sum(),
      '\n', 'Products bought by CC4=', df[df.customerid == "CC4"].product_quantity.sum())

Products bought by CC1= 9
 Products bought by CC2= 5
 Products bought by CC3= 3
 Products bought by CC4= 7

Answer:

Highest Number of products are bought by CC1.

Question 2)

Get sales during Christmas period (21 dec 2020 - 27 dec 2020) by region.

In [38]:
df

,date,customerid,product_quantity,price_per_item,Sale,region,transaction_id
0,2021-10-09,CC1,3,33,99,E,1
1,2021-10-09,CC1,4,22,88,A,2
2,2020-12-26,CC1,2,111,222,F,3
3,2020-12-27,CC2,1,22,22,G,4
4,2020-12-28,CC2,4,11000,44000,G,5
5,2020-12-29,CC3,2,33,66,S,6
6,2020-12-30,CC3,1,22,22,S,7
7,2021-10-09,CC4,3,11000,33000,E,8
8,2021-10-10,CC4,4,33,132,R,9

In [93]:
df.date >= "2020-12-21"

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
Name: date, dtype: bool

All the data we have is after 21 dec 2020 only so we will only check for data which is before 27 dec 2020.

In [95]:
df[df.date <= "2020-12-27"]

,date,customerid,product_quantity,price_per_item,Sale,region,transaction_id
2,2020-12-26,CC1,2,111,222,F,3
3,2020-12-27,CC2,1,22,22,G,4

In [91]:
print("Answer:")
print('The sales during Christmas period from 21 Dec 2020 to 27 Dec 2020 is:', df[df.date <= "2020-12-27"].Sale.iloc[0],'$ in region', df[df.date <= "2020-12-27"].region.iloc[0])
print('The sales during Christmas period from 21 Dec 2020 to 27 Dec 2020 is:', df[df.date <= "2020-12-27"].Sale.iloc[1],'$ in region', df[df.date <= "2020-12-27"].region.iloc[1])

Answer:
The sales during Christmas period from 21 Dec 2020 to 27 Dec 2020 is: 222 $ in region F
The sales during Christmas period from 21 Dec 2020 to 27 Dec 2020 is: 22 $ in region G

Question 3)

Get count of transactions by region where customers had greater than 10000 sales and less than 10000 sales. (hint: create 2 columns for getting count of transaction ids - one where customers had greater than 10000 sales and another where customers had less than 10000 sales)

In [100]:
df[df.Sale >= 10000]

,date,customerid,product_quantity,price_per_item,Sale,region,transaction_id
4,2020-12-28,CC2,4,11000,44000,G,5
7,2021-10-09,CC4,3,11000,33000,E,8

In [90]:
print('Transaction id', df[df.Sale>=10000].transaction_id.iloc[0],'&', df[df.Sale >= 10000].transaction_id.iloc[1],'have Sale more than 10000$.')
print('The region where Sale is more than 10000$ are', df[df.Sale >=10000].region.iloc[0],'&', df[df.Sale >=10000].region.iloc[1])

Transaction id 5 & 8 have Sale more than 10000$.
The region where Sale is more than 10000$ are G & E

In [98]:
df[df.Sale < 10000].groupby('region').size().reset_index().rename(columns={0:'Count of txn'})

  region  Count of txn
0      A             1
1      E             1
2      F             1
3      G             1
4      R             1
5      S             2

- Only the region S has had 2 txns which are less than 10000.
- Rest all of the regions had txn only once which are less than 10000$.